body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #331F19;
}
.container {
    text-align: center;
    background-color: #CBBBA7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border: 2px solid #8B7D70;
}
h1 {
    color: #331F19;
}
p {
    color: #331F19;
    font-size: 1.1em;
}
button {
    background-color: #60041A;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
button:hover {
    background-color: #A34743;
}

/* Estilos Adicionais para a Funcionalidade */

#novaTarefa {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8B7D70;
    border-radius: 5px;
    font-size: 1em;
}

#listaDeTarefas {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0 auto;
    text-align: left;
}

#listaDeTarefas li {
    background-color: #F4F0EA;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-left: 5px solid #60041A;
    cursor: pointer;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
    word-wrap: break-word;
}

#listaDeTarefas li:hover {
    background-color: #E6E2D9;
}

#listaDeTarefas li.concluida {
    text-decoration: line-through;
    color: #8B7D70;
    border-left: 5px solid #A34743;
    background-color: #EFEFEF;
}